.user-detail-header{
    padding: 24px;
    height: 300px;
    background-color: #ff6f00;
    color: white;
    display: flex;
    justify-content: flex-end;

    img{
        height: 100px;
        width: 100px;
        border-radius: 100%;
        object-fit: cover;
    }
}

.position-user-details{
    display: flex;
}

.users-details{
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;

    h2{
        margin-bottom: -15px;
    }
}